<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    </head>
    <body>
        {{ form_start(form, {'attr': {'id': 'region.id'}}) }}
        {{ form_errors(form) }}

        {{ form_end(form) }}
    </body>
</html>