<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
    </head>
    <body>
        Regions:</br> {% for region in regions %}
            <span>{{ region.region }} <a href="{{ path('region_edit', {'id': region.id}) }}" class="btn btn-xs btn-success">EDIT</a> <a href="{{ path('region_delete',{'id': region.id}) }}">DELETE</a></span></br>
        {% endfor %}
        </br>
        <a href="/region/create"/>Create Region:</a>
    </body>
</html>