<!DOCTYPE html>
<html>
    <head>
        <title>Code Challenge</title>
    </head>
    <body>
        <a href="/challenge">Select Address:</a></br>
        <a href="/meetingType">Meeting Types:</a></br>
        <a href="/region">Regions:</a></br>
    </body>
</html>